body{
    background:	#F5F5F5;
}
.header {
    width: 100%;
    height: 66px;
    background: #ffffff;
    position: absolute;
    left: 0px;
    top: -16px;
}

.header_user {
    width: 200px;
    height: 50px;
    background: #000000;
    text-align: center;
    line-height:50px;
    color: 	#C0C0C0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 168px;
}
.header li{
    list-style: none;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    flex-wrap: wrap;
    background: white;
    font-size: 12px;
}
.header a {
    text-decoration: none;
    color: black;
    height: 50px;
    width: 150px;
}
.header li:hover{
    border-bottom: 2px solid #000000;
}
.left {
    width: 200px;
    height: 670px;
    float: left;
    background:	#000000;
    position: absolute;
    top: 50px;
    left: 0px;
}
.right{
    width: 1315px;
    height: 650px;
    position: absolute;
    left: 210px;
    top: 60px;
    border: 1px solid	#D3D3D3;
    background: #ffffff;
}
.right_header{
    width: 1315px;
    height: 30px;
    border-bottom: 1px solid	#D3D3D3;
    background: #ffffff;

}
.right_header p{
    width: 150px;
    height: 30px;
    background:#D3D3D3;
    position: absolute;
    left: 0px;
    top: -12px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.right_header ul{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -16px;
    right: 10px;
}
.right_header li{
    list-style: none;
    height: 30px;
    width: 30px;
    right: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.right_header a{
    text-decoration: none;
    color: black;
}
.workorders{
    width: 190px;
    height: 175px;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
}

.workorders img{
    margin-top: 50px;
    width: 50px;
    height: 50px;
}

